<p id="notice"><%= notice %></p>

<p>
  <b>Cantidad:</b>
  <%= @pagoacredito.cantidad %>
</p>


<%= link_to 'Edit', edit_pagoacredito_path(@pagoacredito) %> |
<%= link_to 'Back', pagoacreditos_path %>
