<%= form_for([@rola,@rola.rolarticulos.build]) do |f| %>
  <% if @rola.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rola.errors.count, "error") %> prohibited this rolarticulo from being saved:</h2>

      <ul>
      <% @rola.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
