<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "rolarticulo.html" %>
<p>
  <%= link_to 'Borrar rol articulo', [rolarticulo.rola, rolarticulo],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>