<% if params[:numero_hoja].nil? %>
  <br />
  <a class="nuevo" href ="#" data="/listaprecios/new" dataw="290"  datah="560px" title="Agregar nueva Lista de Precios">Agregar nueva Lista de Precios</a>
  <br /><br />
  <div id="listado">
  <%  else %>
    <script type="text/javascript">
      limpiar_paginado();
    </script>
  <% end %>
  <table>
    <tr>
      <th class ="ui-state-active" width ="200">Nombre</th>

      <th class ="ui-state-active"></th>
      <th class ="ui-state-active"></th>

    </tr>

    <% @listaprecios.each do |listaprecio| %>
      <tr>
        <td class="ui-state-default ui-corner-all"><%= listaprecio.nombre %></td>
        

        <td class="ui-state-default ui-corner-all"><a href ="#" data="<%= edit_listaprecio_path(listaprecio)  %>" dataw="690"  datah="560px" class="list_link" title="Editar Lista de precios"><span class="ui-icon ui-icon-wrench"></span></a></td>
        <td class="ui-state-default ui-corner-all"><a href="#" action="/listaprecios/<%=  listaprecio.id %>" class="delete_list" data-method="delete" title="Eliminar Lista de precios"><span class="ui-icon ui-icon-trash"></span></a></td>
      </tr>
    <% end %>
  </table>
  <%=  will_paginate @impuestos, :param_name => :numero_hoja , :class => :flickr_pagination %>
  <% if params[:numero_hoja].nil? %>
  </div>
<% end %>

