<div id="texto_error"> </div>
  <div class="field">
    <label for="promocion_inicio">Inicio</label><br />
    <div class ="combobox"> <input class="text ui-widget-content ui-corner-all" id="fechainicio" name="promocion[fechainicio]" size="20" type="text" /></div>
  </div>
  <div class="field">
    <label for="promocion_cierre">Cierre</label><br />
    <div class ="combobox"> <input class="text ui-widget-content ui-corner-all" id="fechafin" name="promocion[fechafin]" size="20" type="text" /></div>
  </div>
